
header{

background-image: url(images/pexels-valeria-boltneva-1639562.jpg);
color: rgb(75, 172, 30);
width: 100%;
margin-bottom: 70px;
text-align: center;


}

button{

    color: white;
    background-image: linear-gradient(rgb(204, 191, 9) ,rgb(194, 104, 20));
    padding: 10px;
    border-radius: 30px;
  
}

body{
    font-family:'Oxygen', sans-serif;
  
    
}
.purple-color{
    color: purple;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(31, 17, 54));
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: 800;
   
    

}
.display-flexible{
    display: flex;
    margin-bottom: 150px;
  
}




.half-width{

    width: 50%;
    padding-left: 5%;
    

}

    
    .half-width img {
        width: 80%;
        
        
        
      
    }
    h1{
        font-size: 50px;
        margin-top: 20px;
    }
 .img{

    margin-top: -60px;
 }

 .background-images{
     background-image: url(images/7.png);
     background-repeat: no-repeat;
    background: size 100%;
   height: 300px;

 }
 .hungry-man{
    
  height: 100%;
 width: 350px;
    
 }
 
 .about-recipe{

    text-align: center;
    
 }
 
 .center{

width: 40%;
margin: 0 auto;
text-align: center;

 }

 .center img{

    width: 40%;
 }

 .one-third{

    width: 36%;
    height: 450px;
    margin-left: 2%;
    margin-right: 5%;


  padding-top: 40px;
    padding-left:20px;
    border-radius: 40px;
    box-shadow: 10px 10px 40px rgb(155, 120, 23);
 }

 .one-third img{
     width: 80%;
     border-radius: 10px;
     margin-left: 20px;
 }


 .flexible11{

display: flex;
margin-left: 20%;
margin-right: 20%;
margin-top: 5%;
margin-bottom: 5%;
padding: 20px 20px 0 20px;
border-radius: 50px;
box-shadow: 10px 10px 45px rgb(87, 194, 104);
 }

 .followers{
     width: 38%;
     margin-left: 10%;
     margin-right: 10%;
 }
 #bg-color{
     background-color: lightblue;
     text-align: center;
     padding: 20px;

 }